<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://es.seaicons.com/wp-content/uploads/2015/09/Shop-icon.png">
  <title>.:El Cachaco:.</title>
  <!-- css bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/bootstrap-icons/font/bootstrap-icons.min.css">

  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .container {
      flex: 1;
    }

    .footer {
      flex-shrink: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- barra de navegacion flotante -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">El cachaco</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Carrito</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Mi Cuenta
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Mis compras</a></li>
                <li><a class="dropdown-item" href="#">Saldo</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Editar usuario</a></li>
                <li><a class="dropdown-item" href="/politicas">Politicas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar articulo" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <section id="login" class=" mt-5">
      <div class="bg-body-secondary shadow rounded border mx-auto p-2" style="max-width: 600px;margin-top: 7%;">
        <ul class="nav nav-tabs row" id="myTab" role="tablist">
          <li class="nav-item col-4" role="presentation">
            <button class="nav-link text-success fs-5 w-100 active" id="login-tab" data-bs-toggle="tab"
              data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane"
              aria-selected="true">Ingresar</button>
          </li>
          <li class="nav-item col-4" role="presentation">
            <button class="nav-link text-success fs-5 w-100" id="registro-tab" data-bs-toggle="tab"
              data-bs-target="#registro-tab-pane" type="button" role="tab" aria-controls="registro-tab-pane"
              aria-selected="false">Registrarse</button>
          </li>
          <li class="nav-item col-4" role="presentation">
            <button class="nav-link text-success fs-5 w-100" id="reset-tab" data-bs-toggle="tab"
              data-bs-target="#reset-tab-pane" type="button" role="tab" aria-controls="reset-tab-pane"
              aria-selected="false">Recuperar</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab"
            tabindex="0">
            <div class="container w-50">
              <div class="input-group flex-nowrap m-1">
                <div class="mx-auto text-success">
                  <i class="bi bi-person-fill" style="font-size: 85px;"></i>
                </div>
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-person text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Username"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-key text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <button type="button" class="btn btn-outline-success mx-auto">Ingresar</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="registro-tab-pane" role="tabpanel" aria-labelledby="registro-tab" tabindex="0">
            <div class="container w-75">
              <div class="input-group flex-nowrap m-1">
                <div class="mx-auto text-success">
                  <i class="bi bi-person-fill-add" style="font-size: 85px;"></i>
                </div>
              </div>
              <div class="input-group flex-nowrap m-1">
                <input id="userNombres" type="text" aria-label="Nombres" placeholder="Nombres" class="form-control">
                <input id="userApellido" type="text" aria-label="Apellidos" placeholder="Apellidos"
                  class="form-control">
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-person text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Username"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-envelope-at text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Correo" aria-label="email"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-key text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-key text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Repetir Contraseña" aria-label="Contraseña"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <button id="registrarUsuario" type="button" class="btn btn-outline-success mx-auto">Registrar</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="reset-tab-pane" role="tabpanel" aria-labelledby="reset-tab" tabindex="0">
            <div class="container w-75">
              <div class="input-group flex-nowrap m-1">
                <div class="mx-auto text-success">
                  <i class="bi bi-arrow-repeat" style="font-size: 85px;"></i>
                </div>
              </div>
              <div class="input-group flex-nowrap m-1">
                <span class="input-group-text bg-success">
                  <i class="bi bi-envelope-at text-white"></i>
                </span>
                <input type="text" class="form-control" placeholder="Correo" aria-label="email"
                  aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap m-1">
                <button type="button" class="btn btn-outline-success mx-auto">Recuperar</button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /form -->
    </section>
  </div>

  <!-- Footer -->
  <footer class="footer bg-secondary text-center text-white">
    <div class="container">
      <p class="mt-1 mb-0 py-2">&copy; 2023 .:El Cachaco:.</p>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>